@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Dancing+Script:wght@500&family=Outfit:wght@500&family=Roboto:wght@100&family=Sedgwick+Ave&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

